/* variáveis de cores e texto*/
:root{
    --cor-primaria: blue;
    --cor-secundaria: rgb(238, 177, 63);
    --cor-fundo: blanchedalmond;

    --fonte-primaria: 'Arial', 'sans-serif';
    --tamanho-fonte-titulo: 16px;
    --cor-texto: #333;
}

/*reset de estilos - basico*/
body, h1, h2, h3, p{
    margin:0;
    padding:0;
}

body{
    background-color:var(--cor-fundo);
    color:var(--cor-texto);
    text-align: center;
}


header{
    background-color: var(--cor-secundaria);
    padding: 10px;
    font-size: 25px;
}

header h1 strong{
    color: var(--cor-primaria);
    -webkit-text-stroke: 0.5px var(--cor-fundo);
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li{
    margin: 10px;
}

header nav ul li a{
    text-decoration: none; /*remver a decoração, linha que fica embaixo dos links*/
    color: var(--cor-primaria);
}

/* quando passar o mouse muda de cor*/
header nav ul li a:hover{
    color: var(--cor-fundo)
}

main{
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

main section article{
    /*cima, direita, baixo e esquerda? sentido horário*/
    margin: 20px 0px 20px 0px;
}

main section article h2{
    margin-left: 10px;
}

main section article figure{
    border: 2px solid var(--cor-texto);/*Add uma borda sólida de 2px com a cor do texto a figura*/
    width: 890px; /*Define a largura da figura como 1000pxs*/
    margin: auto;
    margin: auto;
    border-radius: 10%; /*borda arredondada*/
    overflow: hidden; /*Garante que a imagem dentro da figura não transborde*/ 
}

main section article figure img{
    width: 100%; /*Define a largura da imagem como 100% da figura*/
    height: auto;/*Mantém a proporção original da largura*/
    transition: 0.3s ease;/*Adiciona uma transição sua para a propriedade 'transform' da imagem*/
}

main section article figure:hover img{
    transform: scale(1.2);/*Aplica o efeito de zoom ao passar o mouse( aumenta o tamanho em 20%) na imagem dentro da figura*/
}